table.meniu {
    text-align: left;
    background-color:#F8E9FC;
    border:3px dashed black;
}

table.center {
    margin-left:auto; 
    margin-right:auto;
    margin-bottom: 0px;
    margin-top: 0px;
    border-width: 3px;
    border-style: solid;
    border-color: white;
    padding: 1px;
    background-color: white;                
}

table.backlink {  
    margin-left:auto; 
    margin-right:auto;
    margin-bottom: 0px;
    margin-top: 0px;
    border-width: 13px;
    border-style: solid;
    border-color: white;    
    background-color: white;   
}
body {
    text-align:center;
}   

html {
  overflow-y: scroll; 
}